*{
    padding:0px;
    margin: 0px;

}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.5rem;
  }
  header {
    background-color: #4CAF50;
    color: white;
    padding: 47px;
    text-align: center;
    margin: 0%;
  }
  
  p{
    display: inline-block;
    width: 50%;
  }
  .container {
    padding: 80px;
  }
  .content {
    margin-bottom: 20px;
  }
  h2 {
    position: relative;
    top: 0;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    z-index: 1;
    border-bottom: 2px solid #388E3C;
    display: inline;
  }
  .tips {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #4CAF50;
    display: inline;
  }
  
  .fixed-button {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 200px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .content img {
    max-width: 100%;
    height: auto;
    display: inline;
    margin-bottom: 10px;
  }
  footer {
    background-color: #333;
    color: white;
    display: flex;   
    width: 100%;
  }
