body {
    background-color: indianred;
}

h1 {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

p {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: bisque; 
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-inline: 6rem;
    padding: 5rem;
    border-radius: 1rem;
}

#gatoSection1, #gatoSection2 {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border: black solid 5px;
    gap: 1rem;

}

.gatoImg1 {
    width: 600px;
    height: 500px;
}

.gatoImg2 {
    width: 600px;
    height: 800px;
}

.footer {
    background-color: azure;
    display: flex;
    justify-content: center;
    border: black solid 5px;
    border-radius: 5px;
}